/**
 * COLORS
 */
$main-color: #3c3c3c;
$accent-color: #f9c910;
$light-background-color: #ebebeb;



/**
 * TIME
 */
<<<<<<< Updated upstream
$transition-time: 0.2s;
=======
$transition-time: 0.2s;
>>>>>>> Stashed changes



/**
 * SIZE
 */
$containers: 70, 85, 90;



/**
 * ICONS
 */
<<<<<<< Updated upstream
$steps-icons: hands, arrow, glasses, courier;
=======
$steps-icons: hands, arrow, glasses, courier;
>>>>>>> Stashed changes
